@import "modules/colors";

body {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

.container {
  border: 3px solid $color_border;
  padding: 20px;
  margin: 10px;
  table {
    font-size: 13px;
  }
  h2 {
    color: $color_headline;
  }
  .where-are-we-box {
    position: relative;
    left: -20px;
    top: -20px;
    background-color: $color_background;
    padding: 10px 15px;
    display: inline-block;
  }
}
