{% extends "_base.twig" %}
{% block content %}
    <div class="container">
        <h1>/subpage</h1>
        <p>
            Everything inside this box comes from view/subpage.twig.<br/>
            Everything outside this box comes from view/_base.twig (which is the surrounding layout template).
        </p>
    </div>
{% endblock %}
